.hi-tooltip {
  font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 1060;
  display: block;
  visibility: visible
}

.hi-tooltip-hidden {
  display: none
}

.hi-tooltip-placement-top,.hi-tooltip-placement-topLeft,.hi-tooltip-placement-topRight {
  padding-bottom: 8px
}

.hi-tooltip-placement-right,.hi-tooltip-placement-rightBottom,.hi-tooltip-placement-rightTop {
  padding-left: 8px
}

.hi-tooltip-placement-bottom,.hi-tooltip-placement-bottomLeft,.hi-tooltip-placement-bottomRight {
  padding-top: 8px
}

.hi-tooltip-placement-left,.hi-tooltip-placement-leftBottom,.hi-tooltip-placement-leftTop {
  padding-right: 8px
}

.hi-tooltip-inner {
  max-width: 250px;
  padding: 6px 8px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  background-color: rgba(0,0,0,.75);
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  min-height: 32px
}

.hi-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid
}

.hi-tooltip-placement-top .hi-tooltip-arrow,.hi-tooltip-placement-topLeft .hi-tooltip-arrow,.hi-tooltip-placement-topRight .hi-tooltip-arrow {
  bottom: 3px;
  border-width: 5px 5px 0;
  border-top-color: rgba(0,0,0,.75)
}

.hi-tooltip-placement-top .hi-tooltip-arrow {
  left: 50%;
  margin-left: -5px
}

.hi-tooltip-placement-topLeft .hi-tooltip-arrow {
  left: 16px
}

.hi-tooltip-placement-topRight .hi-tooltip-arrow {
  right: 16px
}

.hi-tooltip-placement-right .hi-tooltip-arrow,.hi-tooltip-placement-rightBottom .hi-tooltip-arrow,.hi-tooltip-placement-rightTop .hi-tooltip-arrow {
  left: 3px;
  border-width: 5px 5px 5px 0;
  border-right-color: rgba(0,0,0,.75)
}

.hi-tooltip-placement-right .hi-tooltip-arrow {
  top: 50%;
  margin-top: -5px
}

.hi-tooltip-placement-rightTop .hi-tooltip-arrow {
  top: 8px
}

.hi-tooltip-placement-rightBottom .hi-tooltip-arrow {
  bottom: 8px
}

.hi-tooltip-placement-left .hi-tooltip-arrow,.hi-tooltip-placement-leftBottom .hi-tooltip-arrow,.hi-tooltip-placement-leftTop .hi-tooltip-arrow {
  right: 3px;
  border-width: 5px 0 5px 5px;
  border-left-color: rgba(0,0,0,.75)
}

.hi-tooltip-placement-left .hi-tooltip-arrow {
  top: 50%;
  margin-top: -5px
}

.hi-tooltip-placement-leftTop .hi-tooltip-arrow {
  top: 8px
}

.hi-tooltip-placement-leftBottom .hi-tooltip-arrow {
  bottom: 8px
}

.hi-tooltip-placement-bottom .hi-tooltip-arrow,.hi-tooltip-placement-bottomLeft .hi-tooltip-arrow,.hi-tooltip-placement-bottomRight .hi-tooltip-arrow {
  top: 3px;
  border-width: 0 5px 5px;
  border-bottom-color: rgba(0,0,0,.75)
}

.hi-tooltip-placement-bottom .hi-tooltip-arrow {
  left: 50%;
  margin-left: -5px
}

.hi-tooltip-placement-bottomLeft .hi-tooltip-arrow {
  left: 16px
}

.hi-tooltip-placement-bottomRight .hi-tooltip-arrow {
  right: 16px
}