<div class="linkage">
  <div class="select" (click)="isExpand = !isExpand">
    <input type="text" class="form-control select-control" placeholder="选择所在地区" [(ngModel)]="selected" [disabled]="true">
  </div>
  <div class="list-menu" *ngIf="isExpand">
    <div class="sub-list">
      <ul>
        <li *ngFor="let item of list | linkagePipe "
            (click)="provinceId = item.areacode;provinceName = item.areaname;cityId = undefined"
            [class.active]="item.areacode === provinceId">{{item.areaname}}
        </li>
      </ul>
    </div>
    <div class="sub-list" *ngIf="provinceId">
      <ul>
        <li *ngFor="let item of list | linkagePipe:provinceId" (click)="cityId = item.areacode;cityName = item.areaname;"
            [class.active]="item.areacode === cityId">{{item.areaname}}
        </li>
      </ul>
    </div>
    <div class="sub-list" *ngIf="cityId">
      <ul>
        <li *ngFor="let item of list | linkagePipe:cityId"
            (click)="districtId = item.areacode;districtName = item.areaname;selectHandle(provinceName,cityName,districtName);"
            [class.active]="item.areacode === districtId">{{item.areaname}}
        </li>
      </ul>
    </div>
  </div>
</div>
